body {
    background-color: rgb(29, 72, 124);
}

ul {
    padding: 0px;
}

#main_nav {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    width: 100%;
    
    border-radius: 0 0 5px 5px;
    box-shadow: 0 0 8px 2px #000;
}

.with_nav #main_nav {
    display: block;
}

.access_aid {
    display: none;
}

#access_nav {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 0;
    padding-top: 40px;
    overflow: hidden;
    background: rgb(29, 72, 124) 10px 10px / 20px 20px no-repeat;

    background-image: -webkit-repeating-linear-gradient(#fff, #fff 2px, rgb(29, 72, 124) 2px, rgb(29, 72, 124) 33.3333%);
    background-image: repeating-linear-gradient(#fff, #fff 2px, rgb(29, 72, 124) 2px, rgb(29, 72, 124) 33.3333%);
    z-index: 1;
}

.with_nav #access_nav {
    background-image: linear-gradient(45deg, transparent 13px, #ccc 13px, #ccc 15px, transparent 0), linear-gradient(-45deg, white 13px, #ccc 13px, #ccc 15px, white 0);
}

.main-background {
    width: 100%;
    min-height: 10em;
    background-image: url('/Library/WebServer/Documents/devdat-webpage/assets/background/devdat-background.png');
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
}

.burger-menu {
    margin-top: 10em;
    margin-bottom: 10em;
}

.logo {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}